<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="utf-8">
		<meta name="description" content="tienda de comestibles, postres en variedades">
		<meta name="keywords" content="annis cakes, postres, tienda de comestibles, comida, chocolates">	
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
		<title>Annis Cakes - Productos</title>

		<!-- Bootstrap -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

		<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->
		<link rel="stylesheet" href="https://matuqwe.github.io/annis-cakes-code/css/archivo.css">
		<link href="https://fonts.googleapis.com/css2?family=Lobster+Two:ital@1&display=swap" rel="stylesheet">
	</head>
	<body>
		<div class="main-navbar">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-1">
						<img src="../img/logo.png" alt="logo">
					</div>
					<div class="col-md-10">
						<div class="topnav">
							<a class="active" href="./productos.html">Productos</a>
							<a href="./nosotros.html">Nosotros</a>
							<a href="../index.html">Inicio</a>
							<a href="./contacto.html">Contacto</a>
							<a href="./eventos.html">Eventos</a>
						</div>
					</div>
					<div class="col-md-1">
						<a class="igLogo" href="https://www.instagram.com/annis.cakes/?hl=es-la"><img src="../img/ig.png" alt="igLogo"></a>
					</div>
				</div>
			</div>
		</div>
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12">
					<div class="main-header">
						<h1 class="header">Nuestros productos</h1>
					</div>
				</div>
			</div>
		</div>
		<br>
		<div class="container-fluid">
			<div class="main-productsFirstLine">
				<div class="row">
					<div>
						<div class="col-md-4">
							<h3 class="main-productsFirstLine__text">Corazones</h3>
						</div>
						<div class="col-md-4">
							<h3 class="main-productsFirstLine__text">Cakes</h3>
						</div>
						<div class="col-md-4">
							<h3 class="main-productsFirstLine__text">Desayunos</h3>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="container-fluid">
			<div class="main-trumbnail">
				<div class="row">
					<div class="col-md-4">
						<div class="thumbnail">
							<img src="../img/producto1.jpg" alt="..." >
						</div>
					</div>
					<div class="col-md-4">
						<div class="thumbnail">
							<img src="../img/producto2.jpg" alt="...">
						</div>
					</div>
					<div class="col-md-4">
						<div class="thumbnail">
							<a href=""></a><img src="../img/producto3.jpg" alt="...">
						</div>
					</div>
				</div>
			</div>
			<div class="container-fluid">
				<div class="main-productsFirstLine">
					<div class="row">
						<div>
							<div class="col-md-4">
								<h3 class="main-productsFirstLine__text">Shots</h3>
							</div>
							<div class="col-md-4">
								<h3 class="main-productsFirstLine__text">Postres</h3>
							</div>
							<div class="col-md-4">
								<h3 class="main-productsFirstLine__text">Huevos</h3>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="container-fluid">
				<div class="main-trumbnail">
					<div class="row">
						<div class="col-md-4">
							<div class="thumbnail">
								<img src="../img/producto4.jpg" alt="...">
							</div>
						</div>
						<div class="col-md-4">
							<div class="thumbnail">
								<img src="../img/producto5.jpg" alt="...">
							</div>
						</div>
						<div class="col-md-4">
							<div class="thumbnail">
								<a href=""></a><img src="../img/producto6.jpg" alt="...">
							</div>
						</div>
					</div>
				</div>
			</div>
		<br>
		<!-- Footer -->
		<footer class="page-footer font-small unique-color-dark pt-4">

			<!-- Footer Elements -->
			<div class="container-fluid">
				<div class="main-footer">
					<!-- Call to action -->
					<ul class="list-unstyled list-inline text-center py-2">
						<li class="list-inline-item">
							<a href="./views/contacto.html">
								<h2 class="main-footer__text">Contacta con nosotros</h2>
							</a>
						</li>
					</ul>
					<!-- Call to action -->
				</div>
			</div>
			<!-- Footer Elements -->

			<!-- Copyright -->
			<div class="footer-copyright text-center py-3">© 2020 Copyright
			</div>
			<!-- Copyright -->

		</footer>
		<!-- Footer -->
		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
		<script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
		<!-- Include all compiled plugins (below), or include individual files as needed -->
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
	</body>
</html>
